<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for("static", filename="styles.css")}}" />
    <title>My App</title>
</head>
<body>
    <h1>Welcome to CRUD</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nihil voluptates ab! Ut nesciunt veritatis blanditiis accusamus. Expedita obcaecati fugiat dicta omnis, maxime perferendis error debitis voluptatibus! Architecto, officia. Suscipit.</p>
</body>
</html> -->

{% extends 'base.html'%}

{% block head %}

<title>Task Smash</title>

{% endblock %}


{% block body %}

<div class="content">
        <h1>Task Smash 2.0</h1>
        <h3>Gustavo project</h3>
        <table>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td>Content</td>
                <td>Data</td>
                <td>More</td>
            </tr>
        </table>
        <form action="">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" id="btn_add">
        </form>
</div>

{% endblock %}